include ../mixins/flash-msg


h1 프로필

div(style="width: 400px; height: 800px; background-color:wheat; ")
    if !loggedInUser.socialOnly
        img(style="width: 300px; height:300px;" src="/" + loggedInUser.avatarUrl)
    else 
        img(style="width: 300px; height:300px;" src=loggedInUser.avatarUrl)
    span 10mb제한
    form(method="POST" enctype="multipart/form-data" style="display: flex; flex-direction: column;")
        label(for="avatar")
        input(type="file" id="avatar" name="avatar" accept="image/*")  
        input(placeholder="NAME" name="name", type="text", required, value=loggedInUser.name)
        input(placeholder="EMAIL" name="email", type="email", required, value=loggedInUser.email)
        input(placeholder="USER ID" name="username", type="text", required, value=loggedInUser.username)
        input(placeholder="INTRODUCTION" name="introduction", type="text", value=loggedInUser.introduction)
        input(placeholder="LOCATION" name="location", type="text", value=loggedInUser.location)
        input(placeholder="POSTAL CODE" name="postalCode", type="number", value=loggedInUser.postalCode)
        input(type="submit", value="UPDATE")
    h4 
        if !loggedInUser.socialOnly
            a(href="change-password") 비번변경
    if messages.error 
            +flashMsg("error", messages.error)
    if messages.info
        +flashMsg("info", messages.info)
    if messages.success
        +flashMsg("success", messages.success)
    if errMsg 
        span #{errMsg}